Manifest.toml
*.mem
.vscode/settings.json
docs/build
docs/src/generated

BipedRobot/ZMPBipedRobot/docs
BipedRobot/ZMPBipedRobot/testbench

problems/Biped_robot/Julia_Controller_validation/First_step.jld2
problems/Biped_robot/Julia_Controller_validation/Second_step.jld2
problems/Biped_robot/Julia_Trajectory_obtention/Abstraction.jld2
problems/Biped_robot/Robotran_Trajectory_validation/Abstraction.jld2
problems/Biped_robot/Robotran_Trajectory_validation/Abstraction2.jld2
problems/Biped_robot/Robotran_Controller_validation/First_step.jld2
problems/Biped_robot/Robotran_Controller_validation/Second_step.jld2

bench/benchmark.csv

.DS_Store
/Manifest.toml
paper/paper.pdf
*.aux
*.fdb_latexmk
*.fls
*.blg
*.out
*.bbl
*.synctex.gz
*.log