Manifest.toml
*.mem
.vscode/settings.json
docs/build
docs/src/generated

BipedRobot/ZMPBipedRobot/docs
BipedRobot/ZMPBipedRobot/testbench

bench/benchmark.csv

.DS_Store
/Manifest.toml
paper/paper.pdf
*.aux
*.fdb_latexmk
*.fls
*.blg
*.out
*.bbl
*.synctex.gz
*.log